@model IEnumerable<E_Commerce_App.Core.Shared.DTOs.CategoryDto>
@{
    ViewData["SubPage"] = "Kategoriler";
    ViewData["SubPageUrl"] = "Category";
}
@section Css{
    @{await Html.RenderPartialAsync("_DataTableStylesPartial");}
}
<div id="view-all">
    <div class="card">
        <div class="card-body">
            @await Html.PartialAsync("_AllCategories", Model)
        </div>
    </div>
</div>
@section Scripts{
    <!-- Admin Category List Custom JS -->
    <script src="~/customPagesJs/adminCategoryList.js"></script>
    <!-- Datatables JS -->
    @{await Html.RenderPartialAsync("_DataTableScriptsPartial");}
}