@model IEnumerable<E_Commerce_App.Core.Entities.Category>

@{
    ViewData["CurrentPage"] = "Kategoriler";
    ViewData["CurrentPageUrl"] = "Category";
}

<div id="view-all">
    @await Html.PartialAsync("_AllCategories", Model)
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}