@model IEnumerable<E_Commerce_App.Core.Shared.DTOs.CategoryDto>

@{
    ViewData["SubPage"] = "Kategoriler";
    ViewData["SubPageUrl"] = "Category";
}
@section Css{
    @{await Html.RenderPartialAsync("_DataTableStylesPartial");}
}
<div id="view-all">
    <div class="card">
        <div class="card-body">
            @await Html.PartialAsync("_AllCategories", Model)
        </div>
    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <!-- Sweet Alert  -->
    <script src="~/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <script>

        $(document).ready(function () {
            $("#categoriesTable").DataTable();
        });

        removeCategory = form => {
            Swal.fire({
                title: "Silmek istediğinizden emin misiniz ?",
                text: 'Silinen veri geri kullanılamaz!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil !',
                cancelButtonText: 'İptal !'
            }).then((data) => {
                console.log(data);
                try {
                    if (data.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            url: form.action,
                            data: new FormData(form),
                            contentType: false,
                            processData: false,
                            success: function (res) {
                                $('#view-all').html(res.html);
                            },
                            error: function (err) {
                                console.log(err)
                            }
                        })
                        toastr.success("Kategori başarıyla silindi.");
                    }
                } catch (ex) {
                    console.log(ex)
                }
            });
            //prevent default form submit event
            return false;
        }
    </script>

}
