@model E_Commerce_App.WebUI.ViewModels.UserViewModel.LoginViewModel
@{
    Layout = null;
}

<div class="container">
    <form asp-controller="Account" asp-action="Login" method="post">
        <br /><br /><br /><br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Password" />
        </div>
        <input type="submit" class="btn btn-danger" value="Giriş Yap" />
    </form>
</div>


<!-- Font Awesome Icons -->
<link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.min.css" />

<!-- Bootstrap Css -->
<link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" />
