@{Layout = null;}
@model E_Commerce_App.WebUI.ViewModels.UserViewModel.RegisterViewModel
<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/signin-up.css" />
    <!-- Toastr Css -->
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <!-- Sweet Alert2 Css -->
    <link href="~/node_modules/sweetalert2/dist/sweetalert2.all.min.css" />
</head>
<body>
    <div class="overlay">
        <form asp-controller="Account" asp-action="Register" id="register-form">
            <div class="con">
                <header class="head-form">
                    <h2>E-Pazar</h2>
                    <p>
                        Kayıt olmak için formu doldurun.
                    </p>
                </header>
                <br>
                <div class="field-set">
                    <span class="input-item">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-input" asp-for="@Model.FullName" id="txt-input" placeholder="Ad soyad" required>
                    <br />
                    <span class="input-item">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input type="email" class="form-input" asp-for="@Model.Email" id="txt-input" placeholder="Email adres" required>
                    <br>
                    <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" class="form-input" asp-for="@Model.Password" placeholder="Parola" id="pwd" required autocomplete="new-password">
                    <span>
                        <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                    </span>
                    <br>
                    <button class="log-in"> Kayıt Ol </button>
                </div>
                <header class="head-form">
                    <p>Zaten üye misiniz ? <a href="/Account/Login">Giris yap</a></p>
                </header>
            </div>
        </form>
    </div>

    <!-- Bootstrap & Jquery -->
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Toastr JS -->
    <script src="~/js/toastr.min.js"></script>
    <!-- Account Custom JS -->
    <script src="~/customPagesJs/account.js"></script>
    <!-- Sweet Alert2 JS  -->
    <script src="~/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
</body>
</html>