@model E_Commerce_App.WebUI.ViewModels.UserViewModel.RegisterViewModel
@{Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/signin-up.css" />
</head>
<body>
    <div class="overlay">
        <form asp-controller="Account" asp-action="Register" id="register-form">
            <div class="con">
                <header class="head-form">
                    <h2>E-Pazar</h2>
                    <p>
                        Kayıt olmak için formu doldurun.
                    </p>
                </header>
                <br>
                <div class="field-set">
                    <span class="input-item">
                        <i class="fa fa-user-circle"></i>
                    </span>
                    <input type="text" class="form-input" asp-for="@Model.FullName" id="txt-input" placeholder="Ad soyad" required>
                    <br />
                    <span class="input-item">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" class="form-input" asp-for="@Model.Email" id="txt-input" placeholder="Email adres" required>
                    <br>
                    <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" class="form-input" asp-for="@Model.Password" placeholder="Parola" id="pwd" required>
                    <span>
                        <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                    </span>
                    <br>
                    <button class="log-in"> Kayıt Ol </button>
                </div>
                <header class="head-form">
                    <p>Zaten üye misiniz ? <a href="/Account/Login">Giris yap</a></p>
                </header>
            </div>
        </form>
    </div>

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $('#register-form').on('submit', function (event) {
            var formData = new FormData($('#register-form')[0]);
            $.ajax({
                type: 'POST',
                url: "/Account/Register",
                data: formData,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.success) {
                        window.location.href = res.redirectUrl;
                    } else {
                        toastr.warning(res.message);
                    }
                },
                error: function (err) {
                    toastr.error("Beklenmedik bir hata meydana geldi");
                }
            });
            return false;
        });
        function show() {
            var p = document.getElementById('pwd');
            p.setAttribute('type', 'text');
        }
        function hide() {
            var p = document.getElementById('pwd');
            p.setAttribute('type', 'password');
        }
        var pwShown = 0;
        document.getElementById("eye").addEventListener("click", function () {
            if (pwShown == 0) {
                pwShown = 1;
                show();
            } else {
                pwShown = 0;
                hide();
            }
        }, false);
    </script>
</body>
</html>