@model E_Commerce_App.WebUI.ViewModels.UserViewModel.RegisterViewModel
@{
    Layout = null;
}
<!-- Font Awesome Icons -->
<link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.min.css" />

<!-- Bootstrap Css -->
<link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" />

<div class="container">
    <form asp-controller="Account" asp-action="Register" method="post">
        <br /><br /><br /><br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Email" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="FullName" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Password" />
        </div>
        <input type="submit" class="btn btn-danger" value="Kayıt Ol" />
    </form>
</div>
