@model E_Commerce_App.WebUI.ViewModels.CartViewModel
@{Layout = "_Layout";}
@section Css{

}
<div><br /><br /><br /><br /></div>
@if (Model.CartItems.Count > 0)
{
    <h4>Sepetim</h4>
    <div class="row">
        <div class="col-md-9 mb-2">
            <div class="card p-5 shadow" id="cartItems">
            </div>
        </div>
        <div class="col-md-3" style="position: -webkit-sticky; position: sticky; top: 7em;">
            <div class="card p-3 shadow">
                <h6 class="mb-3">Ödenecek Tutar</h6>
                <h4 class="mb-5">@Model.GetTotalPrice() <small><b>TL</b></small></h4>
                <a class="btn btn-outline-primary" href="/order/checkout">Alışverişi tamamla</a>
            </div>
        </div>
    </div>
}
else
{
    <div style="text-align:center;">
        <i class="fas fa-shopping-cart icon" style="font-size:2em;"></i>
        <h4>Sepetin şu an boş</h4>
        <span>Sepetini <b>E-Pazar'ın</b> fırsatlarla dolu dünyasından doldurmak için aşağıdaki ürünleri incelemeye başlayabilirsin.</span>
    </div>
}

@section Scripts{
    <!-- Cart Custom JS -->
    <script src="~/customPagesJs/cart.js"></script>
}
