@model IEnumerable<E_Commerce_App.Core.Shared.DTOs.ProductDto>
@{
    ViewData["SubPage"] = "Ürünler";
    ViewData["SubPageUrl"] = "Product";
}
@section Css{
    @{await Html.RenderPartialAsync("_DataTableStylesPartial");}
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_AllProducts", Model)
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- Admin Product List Custom JS -->
    <script src="~/customPagesJs/adminProductList.js"></script>
    <!-- Datatables JS -->
    @{await Html.RenderPartialAsync("_DataTableScriptsPartial");}
}