@model IEnumerable<E_Commerce_App.Core.Entities.Product>
@{
    ViewData["CurrentPage"] = "Ürünler";
    ViewData["CurrentPageUrl"] = "Product";
}
@section Css{
    <link href="~/node_modules/toastr/build/toastr.min.css" />
    <link href="~/node_modules/sweetalert2/dist/sweetalert2.all.min.css" />
}
<div id="view-all">
    @await Html.PartialAsync("_AllProducts", Model)
</div>

@section Scripts{

    <!-- Sweet Alert  -->
    <script src="~/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- Toastr -->
    <script src="~/node_modules/toastr/build/toastr.min.css"></script>

    <script>
        function removeProduct(id) {
            Swal.fire({
                title: "Silmek istediğinizden emin misiniz ?",
                text: 'Silinen veri geri kullanılamaz!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil !',
                cancelButtonText: 'İptal !'
            }).then((data) => {
                console.log(data);
                try {
                    if (data.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            url: "/Admin/Product/DeleteProduct/" + id,
                            data: "{id:'" + id + "'}",
                            contentType: false,
                            processData: false,
                            success: function (res) {
                                $('#view-all').html(res.html);
                            },
                            error: function (err) {
                                console.log(err)
                            }
                        })
                    }
                } catch (ex) {
                    console.log(ex)
                }
            });
        }
    </script>
}