@model E_Commerce_App.WebUI.ViewModels.ProductListViewModel
@{ Layout = "_Layout";}
@section Css{
    <!-- Product Card Css -->
    <link rel="stylesheet" href="~/css/product.css" />
}

@section Campaigns{
    @await Component.InvokeAsync("Campaigns")
}
<br />
@*@await Component.InvokeAsync("Categories")*@
<hr />
<br />
<div class="row" id="productsArea">

</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <ul id="pagination-demo" class="pagination-sm"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- Twbs-Pagination JS -->
    <script src="~/node_modules/twbs-pagination/jquery.twbsPagination.min.js"></script>

    <!-- Home Custom JS -->
    <script src="~/customPagesJs/home.js"></script>
    <script>
        $('#pagination-demo').twbsPagination({

            totalPages: @Model.PageInfo.GetTotalPage(),
            visiblePages: 6,
            next: 'Sonraki',
            prev: 'Önceki',
            last: 'Son',
            first:'İlk',
            onPageClick: function (event, page) {

                var url = "@Context.Request.Path@Context.Request.QueryString";
                url = decodeURI(url);

                var query = decodeURI(getUrlVars()["query"]);

                const queryUrlRegex = new RegExp('(\/Home\/Index[(\?)]query=(.)*)');

                var actionUrl = "";
                var data = "";
                if (queryUrlRegex.test(url)) {
                    actionUrl = '/GetSearchedProducts/' + query + '/';
                    data = '{query:' + query + ', page:' + page + '}';
                } else {
                    actionUrl = '/GetProducts/';
                    data = '{page:' + page + '}';
                }
                console.log(actionUrl);
                $.ajax({
                    type: 'GET',
                    url: actionUrl + page,
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        $("#productsArea").html("");
                        var products = res.data.products;
                        for (var i = 0; i < products.length; i++) {
                            console.log(products.length);
                            $("#productsArea").append(product(products, i));
                        }
                    }
                });
            }
        });
    </script>
}