<!DOCTYPE html>
<html lang="tr">
<head>
    <title>E-Pazar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Css -->
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Sweet Alert2 Css -->
    <link href="~/node_modules/sweetalert2/dist/sweetalert2.all.min.css" />
    <!-- Toastr Css -->
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.min.css" />

    <!-- Page Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
    @RenderSection("Css", false)
</head>
<body>
    @await Html.PartialAsync("_Navbar")
    @RenderSection("Campaigns", required: false)
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await Html.PartialAsync("_Footer")

    <!-- AddOrEdit Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <!-- End Of Modal -->
    <!-- Bootstrap & Jquery -->
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Site JS-->
    <script src="~/js/site.js"></script>
    <!-- Toastr JS -->
    <script src="~/js/toastr.min.js"></script>
    <!-- Sweet Alert2 JS  -->
    <script src="~/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- jQuery Validation JS -->
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation/dist/additional-methods.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>