<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Commerce_App.WebUI</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/node_modules/@@fortawesome/fontawesome-free/css/all.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("Css", false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-4" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);">
        <div class="col-md-4">
            <a class="navbar-brand" href="#">
                <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="30" class="d-inline-block align-top" alt="">
                Bootstrap
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-md-6">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Aramak istediğiniz ürünü yazın" style="border-radius:16px 0px 0px 16px;" />
                        <div class="input-group-append">
                            <button class="btn text-white" type="submit" style="background: #0e8ce4; border-radius:0px 16px 16px 0px;"><i class="fa fa-search"></i></button>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i> Sepetim <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fa fa-user"></i> Giriş Yap <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Kayıt Ol <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - E_Commerce_App.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/js/adminlte.js"></script>
    <!-- Site JS-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
