<nav class="navbar navbar-expand-lg navbar-light bg-light p-4 fixed-top" style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("admin"))
            {
                <a class="navbar-brand" href="/">
                    <img src="/images/docker.svg" height="30" class="d-inline-block align-top" alt="" href="/">
                </a>
                <a href="/Admin/Dashboard"> Yönetim Paneli</a>
            }
            else
            {
                <a class="navbar-brand" href="/">
                    <img src="/images/docker.svg" height="30" class="d-inline-block align-top" alt="">
                    E-Pazar
                </a>
            }
        }
        else
        {
            <a class="navbar-brand" href="/">
                <img src="/images/docker.svg" height="30" class="d-inline-block align-top" alt="">
                E-Pazar
            </a>
        }
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="col-md-6">
            <form action="~/">
                <div class="input-group">
                    <input type="text" id="searchForm" class="form-control" name="query" placeholder="Aramak istediğiniz ürünü yazın." style="border-radius: 16px 0px 0px 16px;outline: 0 !important;" required />
                    <div class="input-group-append">
                        <button class="btn text-white" type="submit" id="btn-search">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            @if (User.Identity.IsAuthenticated)
            {

                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/my-orders" id="usernameArea"><i class="fa fa-user"></i>&nbsp; Hesabım</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart"></i>&nbsp;Sepetim</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Account/Logout"><i class="fa fa-sign-out-alt"></i>&nbsp;Çıkış Yap</a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Account/Login"><i class="fa fa-user"></i> Giriş Yap</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Account/Register"><i class="fa fa-user"></i> Kayıt Ol</a>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>
<div style="width: 100%; height: 40px;background-image: linear-gradient(to right, #386ded, #3b4dd4);"></div>
<style>
    nav {
        font-family: 'Poppins', sans-serif;
    }

    a {
        transition: 1.0s !important;
    }

        a:hover {
            color: #3b4dd4 !important;
        }

    #btn-search {
        background-image: linear-gradient(to right, #386ded, #3b4dd4);
        border-radius: 0px 16px 16px 0px;
        outline: 0 !important;
        transition: 1.0s !important;
    }

        #btn-search:hover {
            background-image: linear-gradient(to right, #3b4dd4, #386ded);
        }
</style>