@model E_Commerce_App.Core.Entities.Product

<div class="col-md-3">
    <div class="dress-card">
        <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/7578935/2018/10/23/d7b740bc-e00e-4bec-97aa-65016f8ff2e71540289479612-Harpa-Women-Dresses-2331540289479465-1.jpg" alt="">
            <div class="surprise-bubble">
                <span class="dress-card-heart">
                    <i class="fas fa-shopping-cart"></i>
                </span><a href="#"> <span>Ekle</span></a>
            </div>
        </div>
        <div class="dress-card-body">
            <h4 class="dress-card-title" style="text-align:center;">@Model.Name</h4>
            <div class="row">
                <div class="col-md-12 card-button">
                    <a href="/@Model.Url">
                        <div class="card-button-inner wish-button">
                            <p class="dress-card-para"><span class="dress-card-price">@Model.Price ₺</span><b>İncele</b></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>