@model E_Commerce_App.Core.Shared.DTOs.CampaignDto
@{ Layout = null;}
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" id="campaign-form">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreationDate" />
            <input type="hidden" asp-for="DateOfUpdate" />


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Kampanya Adı" />
            </div>

            <div class="form-group">
                <label class="control-label">Kampanya Resmi</label><br />
                <input type="file" name="campainImage" onchange="showpreview(this);" id="campainImageId" />
                <hr />
                <input type="hidden" asp-for="ImagePath" id="productMainImage" />
                @if (Model.ImagePath == "" || Model.ImagePath == null)
                {
                    <img id="imgpreview" height="200" style="border-width: 0px;display: none; width:100%;" />
                }
                else
                {
                    <img src="~/img/@Model.ImagePath" id="imgpreview" height="200" style="border-width: 0px;width: 100%;" />
                }
            </div>

            <div class="form-group">
                <label asp-for="ImageAltTag" class="control-label"></label>
                <input asp-for="ImageAltTag" class="form-control" placeholder="Resim Etiketi" />
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" asp-for="IsHome" />
                <label class="form-check-label" asp-for="IsHome">Ana Sayfada Görünsün mü ?</label>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Kaydet" class="btn btn-primary btn-block" />
                </div>
            </div>

        </form>
    </div>
</div>
<!-- Admin Campaign Add Edit Custom JS -->
<script src="~/customPagesJs/adminCampaign.js"></script>