@model E_Commerce_App.Core.Shared.DTOs.CampaignDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" id="campaignForm">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreationDate" />
            <input type="hidden" asp-for="DateOfUpdate" />


            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Kampanya Adı" />
            </div>

            <div class="form-group">
                <label class="control-label">Kampanya Resmi</label><br />
                <input type="file" name="campainImage" onchange="showpreview(this);" id="campainImageId" />
                <hr />
                <input type="hidden" asp-for="ImagePath" id="productMainImage" />
                @if (Model.ImagePath == "" || Model.ImagePath == null)
                {
                    <img id="imgpreview" height="200" style="border-width: 0px;display: none; width:100%;" />
                }
                else
                {
                    <img src="~/img/@Model.ImagePath" id="imgpreview" height="200" style="border-width: 0px;width: 100%;" />
                }
            </div>

            <div class="form-group">
                <label asp-for="ImageAltTag" class="control-label"></label>
                <input asp-for="ImageAltTag" class="form-control" placeholder="Resim Etiketi" />
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" asp-for="IsHome" />
                <label class="form-check-label" asp-for="IsHome">Ana Sayfada Görünsün mü ?</label>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Kaydet" class="btn btn-primary btn-block" />
                </div>
            </div>

        </form>
    </div>
</div>
<script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/node_modules/jquery-validation/dist/additional-methods.min.js"></script>
<!-- Sweet Alert  -->
<script src="~/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>

    function showpreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgpreview').css('display', 'block');
                $('#imgpreview').attr('src', e.target.result);
                $('#imgpreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }


    $('#campaignForm').on('submit', function (event) {

        const REQUIRED_INPUT_MESSAGE = "Bu alanın doldurulması zorunludur."

        console.log("--------------------");
        $('#campaignForm').validate({
            rules: {
                "Name": {
                    required: true,
                    maxlength: 50,
                    minlength: 2
                },
                "ImageAltTag": {
                    required: true,
                    maxlength: 120,
                    minlength: 2
                },
                campainImage: {
                    required: ($("#campainImageId").val() === "" && $("#imgpreview").attr('src') === undefined),
                    extension: "png|jpg|JPEG|svg|JFIF|GIF",
                    maxsize: 200000,
                },
            },
            messages: {
                "Name": {
                    required: REQUIRED_INPUT_MESSAGE,
                },
                "ImageAltTag": {
                    required: REQUIRED_INPUT_MESSAGE,
                },
                campainImage: {
                    required: REQUIRED_INPUT_MESSAGE,
                    extension: "Bu alan yalnızca resim dosyalarını kabul etmektedir.",
                    maxsize: "Resim boyutu en fazla 2 MB olabilir",
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });


        console.log($('#campaignForm').valid());

        if ($('#campaignForm').valid() === true) {

            var form = document.getElementById('campaignForm');

            var action = form.getAttribute("action");

            var formdata = new FormData($("#campaignForm")[0]);


            try {
                $.ajax({
                    type: 'POST',
                    url: action,
                    data: formdata,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.isValid) {
                            $('#view-all').html(res.html)
                            $('#form-modal .modal-body').html('');
                            $('#form-modal .modal-title').html('');
                            $('#form-modal').modal('hide');
                            Swal.fire(
                                'Kayıt Başarılı !',
                                `${res.message}`,
                                'success'
                            )
                        }
                        else
                            $('#form-modal .modal-body').html(res.html);
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
                //to prevent default form submit event
                return false;
            } catch (ex) {
                console.log(ex)
            }
        }
        event.preventDefault();
        return false;
    });
</script>