@model IEnumerable<E_Commerce_App.Core.Shared.DTOs.CampaignDto>

@{
    ViewData["CurrentPage"] = "Kampanyalar";
    ViewData["CurrentPageUrl"] = "Campaign";
}

<div id="view-all">
    @await Html.PartialAsync("_AllCampaigns", Model)
</div>

@section Scripts{

    <!-- Sweet Alert  -->
    <script src="~/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <script>
        removeCampaign = form => {
            Swal.fire({
                title: "Silmek istediğinizden emin misiniz ?",
                text: 'Silinen veri geri kullanılamaz!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil !',
                cancelButtonText: 'İptal !'
            }).then((data) => {
                console.log(data);
                try {
                    if (data.isConfirmed) {
                        $.ajax({
                            type: 'POST',
                            url: form.action,
                            data: new FormData(form),
                            contentType: false,
                            processData: false,
                            success: function (res) {
                                $('#view-all').html(res.html);
                                Swal.fire(
                                    'Silme Başarılı !',
                                    'Kampanya başarıyla silindi !',
                                    'success'
                                )
                            },
                            error: function (err) {
                                console.log(err)
                            }
                        })
                    }
                } catch (ex) {
                    console.log(ex)
                }
            });
            //prevent default form submit event
            return false;
        }
    </script>

}