@model IEnumerable<E_Commerce_App.Core.Shared.DTOs.CampaignDto>
@{
    ViewData["SubPage"] = "Kampanyalar";
    ViewData["SubPageUrl"] = "Campaign";
}
<div id="view-all">
    <div class="card">
        <div class="card-body">
            @await Html.PartialAsync("_AllCampaigns", Model)
        </div>
    </div>
</div>
@section Scripts{
    <!-- Admin Campaign List Custom JS -->
    <script src="~/customPagesJs/adminCampaignList.js"></script>
}
