@model IEnumerable<E_Commerce_App.Core.Shared.DTOs.OrderDto>
@{
    ViewData["SubPage"] = "Siparişler";
    ViewData["SubPageUrl"] = "Order";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_AllOrders", Model)
            </div>
        </div>
    </div>
</div>