@model IEnumerable<E_Commerce_App.Core.Shared.DTOs.OrderDto>
@{
    ViewData["SubPage"] = "Siparişler";
    ViewData["SubPageUrl"] = "Order";
}
@section Css{
    @{await Html.RenderPartialAsync("_DataTableStylesPartial");}
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @await Html.PartialAsync("_AllOrders", Model)
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Admin Order List Custom JS -->
    <script src="~/customPagesJs/adminOrderList.js"></script>
    <!-- Datatables JS -->
    @{await Html.RenderPartialAsync("_DataTableScriptsPartial");}
}