body {
    font-family: 'Poppins', sans-serif !important;
}

#toast-container > .toast-success {
    background-color: #28a745 !important;
}

#toast-container > .toast-info {
    background-color: #17a2b8 !important;
}

#toast-container > .toast-warning {
    background-color: #e0a800 !important;
}

#toast-container > .toast-error {
    background-color: #bd2130 !important;
}

#toast-container > div {
    opacity: 1 !important;
}

input[type=file]::-webkit-file-upload-button {
    border: 2px solid #007bff;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #007bff;
    transition: 1s;
    color: white;
}

input[type=file]::file-selector-button {
    border: 2px solid #007bff;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #007bff;
    transition: 1s;
    color: white;
}

input[type=file]::-webkit-file-upload-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
    color: black;
}

input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
    color: black;
}

.margin-10 {
    margin-top: -10px;
}

td {
    vertical-align: middle !important;
}

th {
    vertical-align: middle !important;
}

a {
    text-decoration: none !important;
}

.a-hover {
    transition: 0.4s !important;
}

    .a-hover:hover {
        color: #3b4dd4 !important;
    }

#btn-search {
    background-image: linear-gradient(to right, #386ded, #3b4dd4);
    border-radius: 0px 16px 16px 0px;
    outline: 0 !important;
    transition: 1.0s !important;
}

    #btn-search:hover {
        background-image: linear-gradient(to right, #3b4dd4, #386ded);
    }

.bg-e-pazar-gradient {
    background-image: linear-gradient(to right, #386ded, #3b4dd4);
}

.shadow {
    position: relative;
    -moz-box-shadow: 0 0 20px 20px #888;
    -webkit-box-shadow: 0 0 20px 20px#888;
    box-shadow: 0 0 20px 20px #888;
}
